<div class="container projects-list">
  <div class="tools">
    <button class="c-white">
      <span class="ci"><img src="assets/SVGs/pp-plus.svg" alt="">
      </span>
      <span>Add Project</span>
    </button>
  </div>
  <div class="projects-wrapper " >
    <div class="project">
      <div class="head">
        <div class="image">
          <img src="assets/images/project-image.jpg" alt="">
        </div>
        <div class="status">pennding project</div>
      </div>
      <div class="title">
        <h3>
          Urgent Medical Appeal: Support a Sister in Need of Surgery
        </h3>
      </div>
      <div class="edit">
        <button>
          <mat-icon class="ci">edit</mat-icon>
          Edit
        </button>
      </div>
      <div class="buttons">
        <div class="manage">
          <button>
            <span>
              <img src="assets/SVGs/pp-manage.svg" alt="">
            </span>
            Manage
          </button>
        </div>
        <div class="delete">
          <button>
            <mat-icon>delete</mat-icon>
            Delete
          </button>
        </div>
      </div>
    </div>
    <div class="project">
      <div class="head">
        <div class="image">
          <img src="assets/images/project-image.jpg" alt="">
        </div>
        <div class="status">pennding project</div>
      </div>
      <div class="title">
        <h3>
          Urgent Medical Appeal: Support a Sister in Need of Surgery
        </h3>
      </div>
      <div class="edit">
        <button>
          <mat-icon class="ci">edit</mat-icon>
          Edit
        </button>
      </div>
      <div class="buttons">
        <div class="manage">
          <button>
            <span>
              <img src="assets/SVGs/pp-manage.svg" alt="">
            </span>
            Manage
          </button>
        </div>
        <div class="delete">
          <button>
            <mat-icon>delete</mat-icon>
            Delete
          </button>
        </div>
      </div>
    </div>
    <div class="project">
      <div class="head">
        <div class="image">
          <img src="assets/images/project-image.jpg" alt="">
        </div>
        <div class="status">pennding project</div>
      </div>
      <div class="title">
        <h3>
          Urgent Medical Appeal: Support a Sister in Need of Surgery
        </h3>
      </div>
      <div class="edit">
        <button>
          <mat-icon class="ci">edit</mat-icon>
          Edit
        </button>
      </div>
      <div class="buttons">
        <div class="manage">
          <button>
            <span>
              <img src="assets/SVGs/pp-manage.svg" alt="">
            </span>
            Manage
          </button>
        </div>
        <div class="delete">
          <button>
            <mat-icon>delete</mat-icon>
            Delete
          </button>
        </div>
      </div>
    </div>
    <div class="project">
      <div class="head">
        <div class="image">
          <img src="assets/images/project-image.jpg" alt="">
        </div>
        <div class="status">pennding project</div>
      </div>
      <div class="title">
        <h3>
          Urgent Medical Appeal: Support a Sister in Need of Surgery
        </h3>
      </div>
      <div class="edit">
        <button>
          <mat-icon class="ci">edit</mat-icon>
          Edit
        </button>
      </div>
      <div class="buttons">
        <div class="manage">
          <button>
            <span>
              <img src="assets/SVGs/pp-manage.svg" alt="">
            </span>
            Manage
          </button>
        </div>
        <div class="delete">
          <button>
            <mat-icon>delete</mat-icon>
            Delete
          </button>
        </div>
      </div>
    </div>
    <div class="project">
      <div class="head">
        <div class="image">
          <img src="assets/images/project-image.jpg" alt="">
        </div>
        <div class="status">pennding project</div>
      </div>
      <div class="title">
        <h3>
          Urgent Medical Appeal: Support a Sister in Need of Surgery
        </h3>
      </div>
      <div class="edit">
        <button>
          <mat-icon class="ci">edit</mat-icon>
          Edit
        </button>
      </div>
      <div class="buttons">
        <div class="manage">
          <button>
            <span>
              <img src="assets/SVGs/pp-manage.svg" alt="">
            </span>
            Manage
          </button>
        </div>
        <div class="delete">
          <button>
            <mat-icon>delete</mat-icon>
            Delete
          </button>
        </div>
      </div>
    </div>
    <div class="project">
      <div class="head">
        <div class="image">
          <img src="assets/images/project-image.jpg" alt="">
        </div>
        <div class="status">pennding project</div>
      </div>
      <div class="title">
        <h3>
          Urgent Medical Appeal: Support a Sister in Need of Surgery
        </h3>
      </div>
      <div class="edit">
        <button>
          <mat-icon class="ci">edit</mat-icon>
          Edit
        </button>
      </div>
      <div class="buttons">
        <div class="manage">
          <button>
            <span>
              <img src="assets/SVGs/pp-manage.svg" alt="">
            </span>
            Manage
          </button>
        </div>
        <div class="delete">
          <button>
            <mat-icon>delete</mat-icon>
            Delete
          </button>
        </div>
      </div>
    </div>
    <div class="project">
      <div class="head">
        <div class="image">
          <img src="assets/images/project-image.jpg" alt="">
        </div>
        <div class="status">pennding project</div>
      </div>
      <div class="title">
        <h3>
          Urgent Medical Appeal: Support a Sister in Need of Surgery
        </h3>
      </div>
      <div class="edit">
        <button>
          <mat-icon class="ci">edit</mat-icon>
          Edit
        </button>
      </div>
      <div class="buttons">
        <div class="manage">
          <button>
            <span>
              <img src="assets/SVGs/pp-manage.svg" alt="">
            </span>
            Manage
          </button>
        </div>
        <div class="delete">
          <button>
            <mat-icon>delete</mat-icon>
            Delete
          </button>
        </div>
      </div>
    </div>
    <div class="project">
      <div class="head">
        <div class="image">
          <img src="assets/images/project-image.jpg" alt="">
        </div>
        <div class="status">pennding project</div>
      </div>
      <div class="title">
        <h3>
          Urgent Medical Appeal: Support a Sister in Need of Surgery
        </h3>
      </div>
      <div class="edit">
        <button>
          <mat-icon class="ci">edit</mat-icon>
          Edit
        </button>
      </div>
      <div class="buttons">
        <div class="manage">
          <button>
            <span>
              <img src="assets/SVGs/pp-manage.svg" alt="">
            </span>
            Manage
          </button>
        </div>
        <div class="delete">
          <button>
            <mat-icon>delete</mat-icon>
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
